<!DOCTYPE html>
<HTML>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="main">
        <p>Welcome to build a natal chart. Select the settings file.</p>
        <p>Sample configuration file:</p>
        <ul>
             <li><a href="{{ url_for('static', filename='results/settings.json') }}" download>settings</a></li>
             <li><a href="{{ url_for('static', filename='results/settings_desktop_img.json') }}" download>settings_desktop_img</a></li>
             <li><a href="{{ url_for('static', filename='results/settings_smart_img.json') }}" download>settings_smart_img</a></li>
             <li><a href="{{ url_for('static', filename='results/settings_desktop_img_1.json') }}" download>settings_desktop_img_1</a></li>
             <li><a href="{{ url_for('static', filename='results/settings_smart_img_1.json') }}" download>settings_smart_img_1</a></li>
        </ul>
        <form action="{{ action }}" enctype="multipart/form-data" method="post">
            <div class="fileform">
                <div id="fileformlabel"></div>
                <div class="selectbutton">Select file</div>
                <input type="file" name="settings_json" id="upload" onchange="getName(this.value);" />
            </div>
            <!--<p>
                <input name="checkbox1" type="checkbox" class="checkbox" id="checkbox1" />
                <label for="checkbox">displey settings 1</label>
            </p>
            <p>
                <input type="checkbox" class="checkbox" id="checkbox2" />
                <label for="checkbox">displey settings 2</label>
            </p>-->
            <p>
                <input id="baton_draw" type="submit" class="run" value="draw">
            </p>
        </form>
        <p><input id="show_activity_areas" type="checkbox" name="display" value="show_activity_areas" checked>Show activity areas</p>
        <div class="descriptions">
            <!--<img class="mapDescription" src="{{ url_for('static', filename='results/testDesc.png') }}" />
            <div class="form">
                <form enctype="multipart/form-data">
                    <label for="json">json</label><br />
                    <input id="json" value="actro/result/settings.json"  type="file"><br />
                    <br />
                    <input type="button" class="send" value="Сформировать">
                </form>
            </div>-->

            <div id="description"></div>
        </div>
        <div class="maps">
        <div class="notal-maps">
            <img id="NotalMap" src="{{ url_for('static', filename='results/img'+uid+'.png') }}" />
            <div class="img-maps" style="width: 900px;">
                {% for key in p %}
                    <div
                        style="
                            top:{{ p[key]['top'] }}%;
                            left:{{ p[key]['left'] }}%;
                            width:{{ p[key]['size'] }}%;
                            height:{{ p[key]['size'] }}%"
                        id="{{ key }}"
                        class="mapObject"
                        title="{{ p[key]['title'] }}"
                        data-text="{{ p[key]['description'] }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</body>
</HTML>